.zotbib-ref {
    /* padding: 5px 0 5px 0; */
    text-align:justify;

}

.zotbib-abstract-box .zotbib-abstract-link {
    cursor: pointer;
    color:  #a22424;
    font-weight: bold;
		       
}

.zotbib-abstract-link {
    padding-left: 1em;
}

.csl-bib-body {
    /* overrides the formatting contained in some csl styles */
    margin-left: 1em !important;
    text-indent: -1em !important;    
}

.zotbib-abstract-box .zotbib-abstract-text {
    display: none;
}

iframe {
    /* width: 50%; not really predictable on vimeo iframes */
    margin-left: 2em !important;
    margin: 5px 0 5px 0 ;
}

